.hero-container.blhero2
  %img.hero-bg.hero-bg-left{ src: "/images/home/hero-bg-left.svg", alt: "Gitlab hero background left svg" }
  %img.hero-bg.hero-bg-right{ src: "/images/home/hero-bg-right.svg", alt: "Gitlab hero background right svg" }
  .hero-content
    .row
      .col-md-12
        %h1.bold-headline.margin-top0.hero-item
          The best ideas happen <span class="orange">in the Lab.</span>
        .hero-item
          %p.text-center{ style: "font-size: 32px; font-weight: 300;" }
            September 17, 2019: GitLab raises $268M to further enhance the all-in-one GitLab DevOps platform for customers.
          %p.special-link
            %a{ href: "/2019/09/17/gitlab-series-e-funding/" } Learn more about the funding
    .row.u-margin-top-sm
      .buttons-container.margin-top20.hero-item
        %a.btn.cta-btn.large.orange-light{ href: "/free-trial/" }
          Try GitLab for FREE
        %a.btn.cta-btn.large.btn-white.flex-container.align-center{ href: "/demo/" }
          .i.fas.fa-play.play-icon
          Watch a demo

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}