---
layout: default
title: Gartner Cites GitLab as a Niche Player in MQ for ARO
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://www.gartner.com/doc/reprints?id=1-5LXJXMS&ct=181017&st=sb"
form_id: "1002"
form_type: "resources"
cta_title: "Download the report"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the report."
success_message: "You will also receive an copy of the report sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Gartner Evaluated GitLab as a Niche Player in MQ for ARO
        %h2.page-headline Download the full report for details on the landscape of Application Release Orchestration

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p In this report, GitLab is recognized as a “niche player." We believe the placement is based on our recent arrival in the Auto DevOps space at the time of this report!

            %h3 Read the Gartner Magic Quadrant for ARO to:
            %ul
              %li Understand the core capabilities and features of Application Release Orchestration
              %li Learn Gartner’s view of how the ARO segment is evolving
              %li Explore how GitLab performs in relation to other leading ARO vendors
              %li Evaluate ARO vendors in the space - by industry, region, and more

            %p Download this complimentary report today to discover why Gartner has recognized GitLab as a Niche Player in the 2018 MQ for ARO!

          .font-small
            %p Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, express or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.

            %p Gartner, Magic Quadrant for Application Release Orchestration, Colin Fletcher, Laurie Wurster, Christopher Little, 10 September 2018

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"
